@media screen and (max-width: 768px){
  html {
    max-width: 100%;
  }
  ul,ol {
    padding-left: 1.1rem;
  }
  #cxo-intro-nav {
    section {
      width: 100% !important;
      .intro-nav-label-box {
        display: none;
      }
      .intro-nav-menu {
        font-size: 130%;
        display: block;
        visibility: visible;
      }
    }
  }
  #cxo-content-inner {
    padding: 0;
    padding-bottom: 3rem;
    width: 95%;
  }
  #cxo-intro {
    background-attachment: local;
  }
  #cxo-profile {
    display: none;
  }
  .license-wrapper>p {
    text-indent: 0 !important;
  }
  .post-paginator {
    width: 90% !important;
    >a {
      font-size: 0.5rem;
    }
  }
  #mobile-nav {
    position:fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background: #191919;
    border-right: 1px solid #fff;
    @include compatible(transition,color .4s ease-in);
    -webkit-overflow-scrolling: touch;
    z-index: 2;
  }
  .mobile-nav-link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    overflow: auto;
    z-index: inherit;
  }
  .mobile-nav-link:hover {
    color: #fff;
  }
}
@media screen and (min-width: 769px) {
    #mobile-nav {
      display: none;
    }
}

#mobile-nav.mobile-nav-off{
    transform-origin:center;
    transform:translateX(280px);
}
#mobile-nav.mobile-nav-off .mobile-nav-link{
    transform-origin:center;
    transform:translateX(280px)
}